<% provide(:title, 'About') %> 
<h1>About</h1>
<p>
	Mr.Lee, Hello Center President - CEO: HC’s mission is to provide the Vietnamese youth with a powerful and effective tool – English. VUS students have the opportunity to advance their knowledge, widen their vision and access international education to further develop personally and professionally and to contribute to the development of society. Through cooperation with the City University of New York (CUNY), a leading institution in the US with 12 Nobel prize winners, VUS is able to introduce the most advanced methodologies to its students.

	The excellent performance of our students in international language tests confirms VUS’ training quality.
</p>
<p>
		<!--<img alt="Rails" src="/assets/rails.png" />  -->
		<img  alt="02" src="/assets/kiket.jpg" width="1000" height="200"  style="background-color: #00CCFF" />
</p>