 <% provide(:title, 'Home') %>   

  <body>

    
    <div class="container">
    	<h2><b><marquee ><font color="#3BC492">WELCOME TO HELLO CENTER</font></marquee></b></h2>
    </div>
    <div id="carouselwrap">
    	<div class="container">
			<div id="myCarousel" class="carousel slide">
		        <div class="carousel-inner">
	  				<div class="item active">
	    				<img src="assets/slide1.jpg" alt="">
	  				</div><!-- /item -->
	  				<div class="item">
	    				<img src="assets/slide2.png" width="1600px" height="600px" alt="">
	  				</div><!-- /item -->
	  				<div class="item">
	    				<img src="assets/slide3.jpg" alt="">
	  				</div><!-- /item -->
				</div><!-- /carousel-inner -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a><!-- Carousel Control -->
				<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div><!-- myCarousel -->
		</div><!-- /container -->
	</div><!-- /carouselwrap -->

    
    <div class="container">
		<div class="middle">
			<div class="row">
				<h2><font color="#3BC492">Program in Hello Center</font></h2>
				<br>
				<br>
				<div class="span3">
					<div class="project_item">
						<div class="project_item_center">
							<div class="mask2">
								<a href="http://developer.android.com/training/index.html" rel="prettyPhoto"><img src="assets/android.jpg" alt=""></a>
							</div>
							<div class="clear"></div>
			                <h3>Android Programing</h3>
						</div><!-- project_item_center -->
					</div><!-- project_item -->
				</div><!-- span3 -->
				
				<div class="span3">
					<div class="project_item">
						<div class="project_item_center">
							<div class="mask2">
								<a href="https://developer.apple.com/" rel="prettyPhoto"><img src="assets/ios.jpg" alt=""></a>
							</div>
							<div class="clear"></div>
			                <h3>iOS Programing</h3>
						</div><!-- project_item_center -->
					</div><!-- project_item -->
				</div><!-- span3 -->
				
				<div class="span3">
					<div class="project_item">
						<div class="project_item_center">
							<div class="mask2">
								<a href="http://www.w3schools.com/PHP/" rel="prettyPhoto"><img src="assets/php.jpg" alt=""></a>
							</div>
							<div class="clear"></div>
			                <h3>PHP Programing</h3>
						</div><!-- project_item_center -->
					</div><!-- project_item -->
				</div><!-- span3 -->
				<div class="span3">
					<div class="project_item">
						<div class="project_item_center">
							<div class="mask2">
								<a href="http://www.learnjavaonline.org/" rel="prettyPhoto"><img src="assets/java.jpg" alt=""></a>
							</div>
							<div class="clear"></div>
			                <h3>Java Programing</h3>
						</div><!-- project_item_center -->
					</div><!-- project_item -->
				</div><!-- span3 -->
			</div><!-- row -->
		</div>
		<br>
		<br>
    	<hr>
    </div><!-- /container -->
    
   
    <div class="container">
    	<div class="row">

    		<div class="span4">
    			<h3>From the Blog</h3>
    			<br>
    			<div class="orangeBox"> <img src="assets/dash.jpg" alt="" class="img-circle"> <strong>Duc (Dash) PHAM</strong> <em>Editor.</em> </div>
				<div class="twoBox"><br><em>Stop what are you doing right now! Hey, I am talking to you; this is serious. Hello Center creates something amazing to you</em><br></div>
    		</div><!-- /span4 -->
    		<div class="span4">
    			<h3>Latest News</h3>
    			<br>
    			<div class="blueBox"> <img src="assets/don.jpg" alt="" class="img-circle"> <strong>Dung (Don) A. LE   </strong> <em>Editor.</em> </div>
				<div class="twoBox"><br><em>Yesterday we lived an amazing night. For the first time in our existence, our agency won the 2013 award of excelence in design</em><br></div>
    		</div><!-- /span4 -->
    		<div class="span4">
    			<h3>Testomonial</h3>
    			<br>
    			<div class="oneBox"> <img src="assets/leo.jpg" alt="" class="img-circle"> <strong>Long (Leo) NGUYEN</strong> <em>Editor.</em> </div>
				<div class="twoBox"><br> <em>"Working with Hello Center was a wonderful experience. Our teams worked together as one. This creates an unique experience for all of us."</em><br></div>
    		</div><!-- /span4 -->
    	</div><!-- /row -->
    	<br>
    </div><!-- /container -->
    
	

	
	</div>
   
  </body>

